* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background: #00426d;
}

/* -----------------WELCOME PAGE STYLING-------------- */
#welcome-page {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b38e22;
  margin: 100px auto;
  padding: 40px 30px 70px;
}

.left {
  display: flex;
}

.left .icon {
  width: 200px;
}

.right {
  text-align: center;
}

.right button {
  min-width: 100px;
  min-height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 30px;
  background-color: #b38e22;
  color: aliceblue;
}

.right button:hover {
  background: #51400f;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .right {
    margin-top: 20px;
  }
  .left {
    margin-top: 30px;
  }
  .left .icon {
    width: 140px;
  }
}
@media (min-width: 641px) {
  .left .icon {
    width: 200px;
  }
}
@media (min-width: 961px) {
  .left .icon {
    width: 200px;
  }
}

/* --------------QUESTIONS PAGE STYLING -------------- */

#questions-page {
  margin: 100px auto;
  padding: 40px 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #b38e22;
}

.char-icons {
  display: flex;
}
.char-icons img {
  width: 200px;
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#options div {
  border: 1px solid white;
  border-radius: 10px;
  width: 350px;
  height: fit-content;
  padding: 7px;
  margin: 1%;
  background: #b38e22;
  color: white;
}

#options div:hover {
  background: #51400f;
  box-shadow: rgba(0, 0, 0, 0.736) 0px 5px 15px;
  cursor: pointer;
}

@media (min-width: 320px) {
  #questions-page {
    margin-top: 140px;
  }
  #options {
    margin-top: 50px;
  }
  .char-icons img {
    margin-top: 20px;
    width: 130px;
  }
}

@media (min-width: 641px) {
  #questions-page {
    margin-top: 70px;
  }
  #options {
    margin-top: 10px;
  }
  .char-icons img {
    width: 200px;
  }
}

@media (min-width: 961px) {
  .char-icons img {
    width: 200px;
  }
}

/*------------ RESULTS PAGE STYLING ---------- */

#results-page {
  margin: 80px auto;
  padding: 30px 40px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b38e22;
  background: #ffffff;
  max-width: 545px;
  border-radius: 10px;
  text-align: center;
}

#results-page img {
  width: 250px;
  border-radius: 10px;
  margin: 30px;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
#results-page button {
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  background: #b38e22;
  color: white;
  border-radius: 7px;
}

#results-page button:hover {
  background: #51400f;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
  cursor: pointer;
}
